@using Knjizara_ponovo.Models
@model Knjizara_ponovo.Models.Genre

@{
    ViewBag.Title = "Create";
    ViewBag.CreateModel = new Genre();
}

<h2>Create</h2>
@if (ViewBag.message as string != String.Empty)
{
    <h3 class="alert-danger">@ViewBag.message</h3>
}

@using (Html.BeginForm("Create", "Genre"))
{

    <div class="form-horizontal">
       @{Html.RenderPartial("_GenreNameDisplay", Model);}

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
